<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
        <img src="https://static1.squarespace.com/static/54e78252e4b021b682bbcad9/t/55a4c254e4b00f4e23b86310/1436861014938/LrHLnncY8vKETSZ4K4GFdza-V8969aMJkRu5_1uW2_Q.jpeg?format=2500w" alt="Chocon Valant" style="width:500px;height:300px;">
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
